<!-- TODO 1: Make this form call the 'onSubmit' function using the ngSubmit directive. -->

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
	<!-- TODO 2: Create an input of type text with id as 'name' and name as 'name' -->
  <input type="text" name="name" id="name" >
  <br>
	<!-- TODO 3: Create an input of type email with id as 'email' and name as 'email' -->
  <input type="email" name="email" id="email" >
  <br>
	<!-- TODO 4: Create an input of type password with id as 'password' and name as 'password' -->
  <input type="password" name="password" id="password">
  <br>
	<button type="submit" id="submit">Submit</button>
</form>
